{% extends "base.html" %}

{% block content %}

{% include "components/page_banner.html" %}


<!--Popular Destinations-->
<section class="bg-white py-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Heading -->
    <div class="max-w-2xl mb-12">
      <span
        class="inline-block bg-red-100 text-red-600 text-xs font-semibold px-4 py-1 rounded-full mb-4"
      >
        Domestic Travels
      </span>

      <h2 class="text-4xl font-bold text-gray-900">
        Incredible <span class="text-red-600">India</span>
      </h2>

      <p class="text-gray-500 mt-3">
        Discover the diverse landscapes, rich heritage, and vibrant cultures
        that make India an extraordinary destination.
      </p>
    </div>

    <!-- Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      {% for p in packages %}
      <div
        class="group bg-white rounded-2xl border overflow-hidden transition-all duration-300 hover:-translate-y-2 hover:shadow-2xl"
      >
        <!-- Image -->
        <div class="relative h-52 overflow-hidden">
          <img
            src="{{ p.card_image }}"
            alt="{{ p.title }}"
            class="w-full h-full object-cover group-hover:scale-105 transition duration-500"
          />
        </div>

        <!-- Content -->
        <div class="p-5">
          <!-- Rating -->
          <div class="flex items-center gap-2 text-sm mb-2">
            <div class="text-yellow-400">★★★★★</div>
            <span class="text-xs bg-red-50 text-red-600 px-2 py-0.5 rounded">
              {{ p.rating }}
            </span>
          </div>

          <!-- Title -->
          <h3 class="font-semibold text-gray-900 leading-snug text-[15px]">
            {{ p.card_title }}
          </h3>

          <!-- Price + Button -->
          <div class="mt-5 flex items-center justify-between">
            <span class="text-xl font-bold text-gray-900">₹{{ p.price }}</span>

            <a
              href="{% url 'package_detail' p.slug %}"
              class="text-sm font-medium text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-700 transition"
            >
              Explore →
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}

